<p>
	<%- field %>
</p>
<p> <%- status %> </p>
<form action="" method="post">
	<input type="text" name="battle">
	<input type="submit" value="Battle!">
</form>
<form action="/restart" method="post">
	<input type="submit" value="Restart">
</form>